@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
body {
    font-family: "Space Mono", sans-serif;
    color: #f0f0f0;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #111;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
}

/* Dark mode text colors for auxiliary elements */
.description,
.download-separator,
.version {
    color: #cccccc90;
}
.code-block {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    border-radius: 20px;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    color: #fff;
}
.code-block:hover {
    cursor: pointer;
}

/* Container for main content */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* Image container for orbiting clouds */
.image-container {
    position: relative;
    display: inline-block;
}

/* Description placeholder */
.description {
    margin-bottom: 2rem;
    font-size: 1em;
}

/* Button styling */
.button {
    display: inline-block;
    background: #0a0a0a;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
}
.button:hover {
    background: #333;
}

/* Download options container */
.download-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    gap: 10px;
}
.download-separator {
    font-size: 16px;
}

/* Version text styling */
.version {
    color: grey;
    font-size: 0.9em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.version a {
    color: grey;
}

/* Image placeholder styling */
.image {
    width: 230px;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
    -webkit-transition: transform 0.3s ease;
    cursor: pointer;
    position: relative;
    z-index: 10;
    margin-bottom: 1.3rem;
}
.image.clicked {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
}

/* Cloud styling for orbiting effect updated for dark mode */
.cloud {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    filter: blur(110px);
    -webkit-filter: blur(110px);
    transform-origin: 100px center;
    animation: orbit 7.5s ease-in-out infinite;
    -webkit-animation: orbit 7.5s ease-in-out infinite;
}
.cloud-orange {
    background: coral;
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
.cloud-red {
    background: crimson;
    animation-delay: -2.5s;
    -webkit-animation-delay: -2.5s;
}
.cloud-white {
    background: pink;
    animation-delay: -5s;
    -webkit-animation-delay: -5s;
}
.cloud-blue {
    background: skyblue;
    animation-delay: -7.5s;
    -webkit-animation-delay: -7.5s;
}
@keyframes orbit {
    0% {
        transform: rotate(0deg);
        transform-origin: -200px center;
    }
    25% {
        transform: rotate(90deg);
        transform-origin: -100px center;
    }
    50% {
        transform: rotate(180deg);
        transform-origin: 100px center;
    }
    75% {
        transform: rotate(240deg);
        transform-origin: -100px center;
    }
    100% {
        transform: rotate(360deg);
        transform-origin: -200px center;
    }
}
@-webkit-keyframes orbit {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: -200px center;
        transform-origin: -200px center;
    }
    25% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: -100px center;
        transform-origin: -100px center;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transform-origin: 100px center;
        transform-origin: 100px center;
    }
    75% {
        -webkit-transform: rotate(240deg);
        transform: rotate(240deg);
        -webkit-transform-origin: -100px center;
        transform-origin: -100px center;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        -webkit-transform-origin: -200px center;
        transform-origin: -200px center;
    }
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 0.8em;
    background-color: inherit;
    margin-bottom: 40px;
}

footer a {
    text-decoration: underline;
    color: #fff;
}

/* Responsive adjustments */
@media (max-width: 800px) {
    h1 {
        margin-bottom: 40px;
    }
    .description {
        display: none;
    }
    .download-options {
        flex-direction: column;
        gap: 15px;
    }
}
